<h2 mat-dialog-title>{{ data.formName }} course</h2>
<mat-dialog-content class="mat-typography">
	<form [formGroup]="form">
		<mat-form-field class="w-100">
			<mat-label>Name</mat-label>
			<input matInput formControlName="name" value="{{ course.name }}" readonly>
		</mat-form-field>
		<mat-form-field class="w-100" *ngIf="user.personalData.type === 'Admin'">
			<mat-label>Faculty</mat-label>
			<mat-select formControlName="faculty" (selectionChange)="onFacultyChange($event)">
				<mat-option *ngFor="let faculty of faculties" [value]="faculty.id">{{ faculty.name }}</mat-option>
			</mat-select>
		</mat-form-field>
		<mat-form-field class="w-100">
			<mat-label>Department</mat-label>
			<mat-select formControlName="department">
				<mat-option *ngFor="let department of departments" [value]="department.id">{{ department.name }}</mat-option>
			</mat-select>
		</mat-form-field>
	</form>
</mat-dialog-content>
<mat-dialog-actions align="end">
	<button mat-raised-button mat-dialog-close cdkFocusInitial>Cancel</button>
	<button mat-raised-button color="{{ data.submitColor }}" (click)="onSubmit($event)" [disabled]="!form.valid || isBusy">{{ data.formName }}</button>
</mat-dialog-actions>