<div class="container">
        <div class=" justify-content" >
          
<form  id="user_Form"  [formGroup]="userForm" (ngSubmit)="changePassword()">
  <div class="form-group mb-3" style="margin-bottom: 20px; text-align: center;">
    <h5 style="color: #007bff;">Login Settings</h5>
  </div>
    
<!-- Form Name -->
  <div class="form-group mb-3">
    <label for="Password">Current Password</label>
    <input type="password" class="form-control" id="old Password" formControlName="oldPassword" >
    <div *ngIf="oldPassword.touched && oldPassword.invalid">
      <small *ngIf="oldPassword.errors.required" class="text-danger">please insert your old password<br></small>
    </div> 
  </div>

<div class="form-group mb-3">
    <label for="Password">New Password</label>
    <input type="password" class="form-control" id="Password" formControlName="NewPassword" >
    <div *ngIf="NewPassword.touched && NewPassword.invalid">
      <small *ngIf="NewPassword.errors.required" class="text-danger">NewPassword is required<br></small>
      <small *ngIf="NewPassword.errors.minlength" class="text-danger">NewPassword must contain 8 characters at least<br></small>
      <small *ngIf="NewPassword.errors.maxlength" class="text-danger">NewPassword can contain 30 characters maximum<br></small>
      <small *ngIf="NewPassword.errors.pattern" class="text-danger">NewPassword must contain  at least one uppercase letter and one lowercase letter<br></small>
      <small *ngIf="NewPassword.errors.pattern" class="text-danger">NewPassword must contain  at least one number and one special character</small>
    </div>
  </div>

  <div class="form-group mb-3">
    <label for="Password">confirm New Password</label>
    <input type="password" class="form-control" id="rePassword"  formControlName="reNewPassword">
    <div *ngIf="reNewPassword.touched && reNewPassword.invalid">
      <small *ngIf="reNewPassword.errors.required" class="text-danger">Repeat newPassword is required<br></small>
    </div>
    <div *ngIf="reNewPassword.valid && reNewPassword.value != NewPassword.value" class="text-danger">
      <small>The passwords entered do not match</small> 
    </div>
  </div>

  
  <!-- Button (Double) -->
  <div class="form-group mb-3">
      <input type="submit" value="Change" [disabled]="userForm.invalid || NewPassword.value != reNewPassword.value" class="btn btn-primary btn-block" >
  </div>
  <div class="alert alert-success text-center" style="margin-top:10px ;" *ngIf="success != null">
    <p>{{success}}</p>
  </div>
  <div class="alert alert-danger  text-center" style="margin-top:10px ;" *ngIf="error != null">
    <p>{{error}}</p>
  </div>
</form>
</div>
</div>