<app-nav-bar></app-nav-bar>

<div class="card mb-3" style="max-width: 100%;">
    <div class="row no-gutters">
      <div class="col-md-4"  style="margin-top: auto;margin-bottom: auto;">
        <div class="card-body">
          <h4  style="color: #3762F0;">Congratulations</h4>
          <h5>We are excited to let you get started and join your friends,
          First check your inbox for a confirmation email</h5>
          <p class="card-text">Didn't receive the email?</p>
          <button type="submit"  (click)="resendVerification()" class="btn btn-primary" >send again</button>
        </div>
        <div class=" alert alert-info  text-center" style="margin-top:10px ;" *ngIf="response != null">
            <p>{{response}}</p>
        </div>
      </div>
        <div class="col-md-8">
            <img src="../../../assets/images/mail.jpg" class="card-img" alt="...">
          </div>
    </div>
</div>
 