    <div class="main">

        <!-- Sign up form -->
        <section class="signup">
            <div class="container">
                <div class="signup-content">
                    <div class="signup-form">
                        <h2 class="form-title" style="color: #3762F0;">Congratulations</h2>
                            <div class="form-group">
                            <h5>We're excited to let you get started and join your friends</h5>
                            </div>
                            <div class="form-group">
                                <h5> First check your inbox for a confirmation email,Click the link in the email to confirm your email address</h5>   
                            </div>
                            <div class="form-group">
                               
                            </div>
                            <div class="form-group">
                                <p>Didn't receive the email?</p>
                                <button type="submit"  (click)="resendVerification()" class="btn btn-primary" >send again</button>
                            </div>
                            <div class="form-group alert alert-info  text-center" style="margin-top:10px ;" *ngIf="response != null">
                                <p>{{response}}</p>
                            </div>
                           
                    </div>
                    <div class="signup-image">
                        <figure> <img  src="../../../assets/images/Group Of Young People.jpg" alt=""></figure>
                    </div>
                  </div>
                
            </div>
        </section>
    
</div>


  