:host{
    width: 25%;
    box-shadow: 5px 0px 4px grey;
    padding: 1.5em;
    box-sizing: border-box;
    font-size: 1.2vw;
}

h2{
    font-size: 3em;
    color: #58595B;;
}
a{
    text-decoration: none;
    font-size: 2vw;
    color: #3762F0; ; 
}


// #3762F0;
// #58595B;
