<div class="container">
  <div class="row justify-content-md-center">
    
  
 <div *ngIf="finish==true">
  <img  src="../../assets/imgs/confirm_email.png" alt="">
 </div>


<div *ngIf="finish==false">
  <div class = "mb-4 vertical"></div> 
    <div class="py-5 col-md-6 order-md-1">
      <img  src="../../assets/logo-dark.png" alt="" width="72" height="72">
      <div class="top-left"><h4>STUDENT'S</h4></div>
      <div class="top-left"><h5>CONNECTING US</h5></div>
    </div>
    
    <div class="row">
      <div class="col-md-6 order-md-2 mb-4">
        <div class="d-flex justify-content-between align-items-center mb-3">
          <span> Welcome to the Easiest and the Best Way to communicate students from all Colleges in Egypt</span>
        </div>
            <div class=" mb-3">
              <h6 ><fa-icon [icon]="faUserFriends"  style="color:#3762F0"></fa-icon>
                Communicate with your Colleagues</h6>
            </div>

            <div  class=" mb-3">
              <h6 ><fa-icon [icon]="faExchangeAlt" style="color:#3762F0"></fa-icon>
                Exchange Instrumnts and Tools</h6>
            </div>
          
            <div class=" mb-3">
              <h6 ><fa-icon [icon]="faMoneyBill"  style="color:#3762F0"></fa-icon>
                Donations and Funds</h6>
            </div>

            <div class=" mb-3">
              <h6 ><fa-icon [icon]="faHouseUser"  style="color:#3762F0"></fa-icon>
                    Find Housing and Transportation with colleagues</h6>
            </div>

            <div class=" mb-3">
              <h6 ><fa-icon [icon]="faChalkboardTeacher"  style="color:#3762F0"></fa-icon>  
                  Find interships,Events,Trainings,...etc</h6>
            </div>
      </div>
      
      <div class="col-md-6 order-md-1">
          <div class="row">
            <div class="col-md-6">
              <button class="btn btn-link" id="student-form-link" (click)="showStudentForm()">Student</button>
            </div>
            <div class="col-md-6" >
              <button id="company-form-link" class="btn btn-link" (click)="showCompanyForm()">Company</button>
            </div> 
          </div>
          <hr class="mb-4">
          <div *ngIf="Student==true">
            <app-student></app-student>
          </div>
          <div *ngIf="Student==false">
            <app-company></app-company>
          </div>
      </div>
    </div>

</div>

</div>
</div>