<app-nav>
  <div class="wrapper">
    <img class="w-100 anim img-fluid" src="../../../assets/images/assets/{{image}}.jpg" alt="">
    <app-add-post [group]="currentGroup" [resource]="resource" [type]="null"></app-add-post>
    <app-main-post *ngFor="let post of posts" [post]="post" [group]="currentGroup" [resource]="resource" type="null">
    </app-main-post>
    <div style="margin: auto; text-align: center;" *ngIf="posts.length > 9">
      <button class="btn btn-info" (click)="onLoadMore()">load more ...</button>
    </div>
  </div>

</app-nav>