<div class="mat-elevation-z8">
    <div class="row mx-2 ">
        <h3 class="text-secondary my-3"> Users section </h3>
        <button class="btn btn-success ml-auto my-3"> <i class="far fa-plus-square"></i> Add User </button>
    </div>

    <table mat-table [dataSource]="dataSource">
        <!-- Position Column -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> Id. </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> User Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>


        <!-- Type Column -->
        <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef> User Type </th>
            <td mat-cell *matCellDef="let element"> {{element.type}} </td>
        </ng-container>


        <!-- Email Column -->
        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef> User's Email </th>
            <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>


        <!-- Mobile Column -->
        <ng-container matColumnDef="mobile">
            <th mat-header-cell *matHeaderCellDef> User's Mobile </th>
            <td mat-cell *matCellDef="let element"> {{element.mobile}} </td>
        </ng-container>

        <!-- Address Column -->
        <ng-container matColumnDef="address">
            <th mat-header-cell *matHeaderCellDef> User's Address </th>
            <td mat-cell *matCellDef="let element"> {{element.address}} </td>
        </ng-container>


        <!-- Edit Column -->
        <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef> Edit </th>
            <td mat-cell *matCellDef="let element"> <button class="btn btn-primary"> <i class="fas fa-edit"> </i>
                </button> </td>
        </ng-container>


        <!-- Delete Column -->
        <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef> Delete </th>
            <td mat-cell *matCellDef="let element"> <button class="btn btn-danger"> <i class="fas fa-trash-alt"> </i>
                </button> </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[30, 20, 10]" showFirstLastButtons></mat-paginator>
</div>