
body,html,*{
    margin:0;
    box-sizing: border-box;
}

.example-card {
    max-width:90%;
    margin: 0 auto;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  .img-fluid{
    margin-top: -5px;
  }

  .example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

