<app-nav>
    <header>
        <img class="img-fluid" src="../../assets/images/Upcoming-Events.png" alt="">
    </header>

    <div class="row h-100 m-3 justify-content-center">
        <h1 class="text-secondary"> Upcoming Events This Month</h1>
    </div>

    <div class="row h-100 justify-content-center">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 p-3">
            <mat-card class="example-card">
                <mat-card-header>
                  <mat-card-title class="text-primary">ITI Alex </mat-card-title>
                </mat-card-header>
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" class="p-4">
                <mat-card-content>
                    <div class="row d-100">
                        <div class="row  ml-auto">
                            <h6 class="text-primary my-auto d-inline">25 jan. 2020</h6>
                            <span class="text-secondary   my-auto material-icons">
                                event
                                </span>
                        </div>
                    </div>
                    <h3 class="text-primary">Title</h3>
                  <p class="text-secondary lead">
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.
                  </p>
                </mat-card-content>
              </mat-card>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 p-3">
            <mat-card class="example-card">
                <mat-card-header>
                  <mat-card-title class="text-primary">ITI Alex </mat-card-title>
                </mat-card-header>
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" class="p-4">
                <mat-card-content>
                    <div class="row d-100">
                        <div class="row  ml-auto">
                            <h6 class="text-primary my-auto d-inline">25 jan. 2020</h6>
                            <span class="text-secondary   my-auto material-icons">
                                event
                                </span>
                        </div>
                    </div>
                    <h3 class="text-primary">Title</h3>
                  <p class="text-secondary lead">
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.
                  </p>
                </mat-card-content>
              </mat-card>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 p-3">
            <mat-card class="example-card">
                <mat-card-header>
                  <mat-card-title class="text-primary">ITI Alex </mat-card-title>
                </mat-card-header>
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" class="p-4">
                <mat-card-content>
                    <div class="row d-100">
                        <div class="row  ml-auto">
                            <h6 class="text-primary my-auto d-inline">25 jan. 2020</h6>
                            <span class="text-secondary   my-auto material-icons">
                                event
                                </span>
                        </div>
                    </div>
                    <h3 class="text-primary">Title</h3>
                  <p class="text-secondary lead">
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.
                  </p>
                </mat-card-content>
              </mat-card>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 p-3">
            <mat-card class="example-card">
                <mat-card-header>
                  <mat-card-title class="text-primary">ITI Alex </mat-card-title>
                </mat-card-header>
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" class="p-4">
                <mat-card-content>
                    <div class="row d-100">
                        <div class="row  ml-auto">
                            <h6 class="text-primary my-auto d-inline">25 jan. 2020</h6>
                            <span class="text-secondary   my-auto material-icons">
                                event
                                </span>
                        </div>
                    </div>
                    <h3 class="text-primary">Title</h3>
                  <p class="text-secondary lead">
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.
                  </p>
                </mat-card-content>
              </mat-card>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 p-3">
            <mat-card class="example-card">
                <mat-card-header>
                  <mat-card-title class="text-primary">ITI Alex </mat-card-title>
                </mat-card-header>
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" class="p-4">
                <mat-card-content>
                    <div class="row d-100">
                        <div class="row  ml-auto">
                            <h6 class="text-primary my-auto d-inline">25 jan. 2020</h6>
                            <span class="text-secondary   my-auto material-icons">
                                event
                                </span>
                        </div>
                    </div>
                    <h3 class="text-primary">Title</h3>
                  <p class="text-secondary lead">
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.
                  </p>
                </mat-card-content>
              </mat-card>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 p-3">
            <mat-card class="example-card">
                <mat-card-header>
                  <h1 class="text-primary">ITI Alex </h1>
                </mat-card-header>
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" class="p-4">
                <mat-card-content>
                    <div class="row d-100">
                        <div class="row  ml-auto">
                            <h6 class="text-primary my-auto d-inline">25 jan. 2020</h6>
                            <span class="text-secondary   my-auto material-icons">
                                event
                                </span>
                        </div>
                    </div>
                    <h3 class="text-primary">Title</h3>
                  <p class="text-secondary lead">
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.
                  </p>
                </mat-card-content>
              </mat-card>
        </div>

  

        
    </div>

</app-nav>