body,
html,
* {
    outline: none;
}

span,button{
    outline: none;
}

.ava {
    min-width    : 30px;
    border-radius: 50%;
    border-radius: 50%;
    padding      : 2px;
    border       : 1px solid blue;
}

.example-full-width {
    width: 100%;
}

.curs{
    cursor: pointer;
}