<div class="row h-100">
  <img d-inline-block src="{{reply.creator.avatar}}" width="50px">
  <h5 class="text-primary d-inline-block pt-3">{{reply.creator.name}}</h5>

  <div class="ml-auto" *ngIf="reply.creator.id == user.id">
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu" xPosition="before">
      <button mat-menu-item>
        <mat-icon>create</mat-icon>
        <span (click)="onEditReply()">Edit Reply</span>
      </button>
      <button mat-menu-item>
        <mat-icon>delete_sweep</mat-icon>
        <span (click)="onDeleteReply()">Delete Reply</span>
      </button>
    </mat-menu>
  </div>

</div>
<div class="row h-100">
  <div [hidden]="!editing">
    <textarea [(ngModel)]="replyBody"></textarea>
    <div class="col-2 curs my-auto">
      <span class="text-primary material-icons" (click)="onUpdateReply()">
        send
      </span>
    </div>
  </div>

  <p [hidden]="editing">{{reply.body}}</p>
</div>
