<div class="container post">

    <div class="row h-100 mx-3 pt-3">
      <div class="col-2 my-auto text-center">
        <img class="w-75 ava" src="{{question.user.avatar}}" alt="">
        <div class="row">
            <div class="col-12">
              <a [routerLink]="['/profile', question.user.id]"><h5 class="text-primary text">{{question.user.name}}</h5></a>
            </div>
        </div>
      </div>

      <div class="col-10 px-3 my-auto">
        <div class="row h-100 mx-5">

                <div class="col-12 ">
                    <a [routerLink]="['/questions', question.id]"><h3>{{question.title}}</h3></a>
                </div>

        </div>

        <div class="row h-100 mx-5">
            <span class="my-auto text-secondary material-icons">
                schedule
              </span>
              <span class=" text-secondary">{{question.created_at_human}}</span>
        </div>
        
        <div class="row h-100 mx-5">
        <p class="lead py-2">{{question.body}}</p>
        </div>

        <div class="row h-100 mx-5">
            <button class="btn btn-primary" *ngFor="let tag of question.tags">{{tag}}</button>
        </div>
     </div>
  
    </div>
 
  
  </div>