body,
html {
  margin    : 0;
}
.img-fluid{
  margin-top: -5px;
}

body,
html,
* {
  outline: none !important;
}

.wrapper {
  background-image: url(../../assets/images/pattern.jpg);
  position: relative;
  min-height: 100vh;
}

.ava {
  padding: 1%;
  border : 2px solid blue;
}

h3 {
  display     : inline-block;
  padding-left: 1vw;
}

i {
  padding: 0;
  margin : 0;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top     : 0;
  z-index : 1;
}

.spacer {
  flex: 1 1 auto;
}



.avatar {
  width        : 45px;
  border-radius: 50%;
}

.sections {
  border: none;
}

.slogan {
  padding: 15px;
}

.sidebar-avatar {
  width      : 100px;
  display    : block;
  margin     : 0 auto;
  margin-left: -1px;
}

.sidebar-info {
  padding: 0;
  margin : 0;
}