<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'push'" [opened]="(isHandset$ | async) === true">
    <mat-toolbar>

    </mat-toolbar>

    <!-- Side Bar -->

    <mat-nav-list>
      <div class="row w-75">
        <div class="col-12">

          <app-sidebar></app-sidebar>
        </div>
      </div>
    </mat-nav-list>
  </mat-sidenav>
  <!-- End Side Bar -->

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <img src="../../assets/images/logo-white.png">
      <h2 class="slogan">Student's</h2>
      <span class="spacer"> </span>

      <!-- Home -->
      <div [hidden]="isHandset$ | async">
        <button mat-button>
          <h3>Home</h3>
        </button>
      </div>
      <!-- End Of Home -->

      <!-- Website Sections Part -->
      <button mat-button [matMenuTriggerFor]="sectionMenu">
        <h3>Sections</h3>
        <span class="material-icons">
          keyboard_arrow_down
        </span>
      </button>


      <mat-menu #sectionMenu="matMenu">
        <button class="sections" mat-sectionMenu-item>

          <button mat-menu-item routerLink="/groups">
            <mat-icon>group</mat-icon>
            <span>Groups</span>
          </button>
          <button mat-menu-item>
            <mat-icon>build</mat-icon>
            <span>Sharing Tools </span>
          </button>

          <button mat-menu-item>
            <mat-icon>monetization_on</mat-icon>
            <span> Donations </span>
          </button>

          <button mat-menu-item>
            <mat-icon>house</mat-icon>
            <span> Sharing Habitations </span>
          </button>

          <button mat-menu-item routerLink="/events">
            <mat-icon>today</mat-icon>
            <span>Events</span>
          </button>

        </button>
      </mat-menu>
      <!-- End Website Sections Part -->

      <!-- User Section Start -->
      <div [hidden]="isHandset$ | async">
        <button mat-button [matMenuTriggerFor]="menu">
          <img class="avatar" src="{{user.personalData.avatar}}">
          <h3>{{user.personalData.name}}</h3>
          <span class="material-icons">
            keyboard_arrow_down
          </span>
        </button>

        <mat-menu #menu="matMenu">
          <button mat-menu-item routerLink="/profile">
            <mat-icon>account_circle</mat-icon>
            <span> My Profile </span>
          </button>

          <button mat-menu-item routerLink="/settings">
            <mat-icon>settings</mat-icon>
            <span> Settings </span>
          </button>

          <button mat-menu-item (click)="onLogout()">
            <mat-icon>power_settings_new</mat-icon>
            <span> Logout </span>
          </button>
        </mat-menu>
      </div>
      <!-- User Section End -->

    </mat-toolbar>
    <!-- Add Content Here -->
    <ng-content>

    </ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>