<mat-sidenav-container class="sidenav-container {{color}}">
  <mat-sidenav style="width: 260px;" #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
  [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
  <mat-toolbar>
    
  </mat-toolbar>
  
  <!-- Side Bar -->
  <mat-nav-list class="sidelist">
    <app-sidebar></app-sidebar>
  </mat-nav-list>
</mat-sidenav>
<!-- End Side Bar -->

<mat-sidenav-content class="wrapper">
  
  <mat-toolbar color="primary">
    <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <img src="../../assets/images/logo-white.png">
      <h2 class="slogan">Student's</h2>
      <span class="spacer"> </span>

      <!-- Home -->
      <div [hidden]="isHandset$ | async">
        <button mat-button routerLink="/">
          <h3>Home</h3>
        </button>
      </div>
      <!-- End Of Home -->

      <!-- Website Sections Part -->

      <button mat-button [hidden]="isHandset$ | async" [matMenuTriggerFor]="sectionMenu">
        <h3>Sections</h3>
        <span class="material-icons">
          keyboard_arrow_down
        </span>
      </button>

      <mat-menu #sectionMenu="matMenu">
        <button class="sections" mat-sectionMenu-item>

          <button mat-menu-item routerLink="/groups">
            <mat-icon>group</mat-icon>
            <span>Groups</span>
          </button>
          <button mat-menu-item routerLink="/announcements/1">
            <mat-icon>info</mat-icon>
            <span>Announcements</span> width: auto;
            height: auto;
            display: block;
            position: relative;="/events">
            <mat-icon>today</mat-icon>
            <span>Events</span>
          </button>
          <button mat-menu-item routerLink="/companies">
            <mat-icon>info</mat-icon>
            <span>Companies</span>
          </button>
          <button mat-menu-item routerLink="/tools">
            <mat-icon>build</mat-icon>
            <span>Sharing Tools </span>
          </button>

          <button mat-menu-item>
            <mat-icon>monetization_on</mat-icon>
            <span> Donations </span>
          </button>

          <button mat-menu-item routerLink="/transportition">
            <mat-icon>house</mat-icon>
            <span> Sharing Habitations </span>
          </button>
          
        </button>
      </mat-menu>


<!-- colors -->
      <button mat-button [matMenuTriggerFor]="colorMenu">
        <span class="material-icons">
          format_paint
          </span>
        <span class="material-icons">
          keyboard_arrow_down
        </span>
      </button>


      <button mat-button [routerLink]="['/messages']"  [matMenuTriggerFor]="messages">
        <i class="fas fa-2x fa-comments"></i>
      </button>

      <mat-menu #colorMenu="matMenu" >
        <button class="sections w-100" style="background-color: white;" mat-sectionMenu-item>

     
          <button mat-menu-item (click) = "changeColor('blue')" class="text-center">
            <strong><span style="color: #2296F3;">Blue</span></strong>
          </button>
          
          <button mat-menu-item (click) = "changeColor('grey')" class="text-center">
            <strong><span style="color: #424242;">Grey</span></strong>
          </button>
        
          <button mat-menu-item (click) = "changeColor('pink')" class="text-center">
            <strong><span style="color: #EA4B64;">pink</span></strong>
          </button>
  
          <button mat-menu-item (click) = "changeColor('purple')" class="text-center">
            <strong><span style="color: #9E52B0;">purple</span> </strong>
          </button>
          

        </button>
      </mat-menu>

      <!-- End Website Sections Part -->


      <!-- User Section Start -->
      <div [hidden]="isHandset$ | async">
        <button mat-button [matMenuTriggerFor]="menu">
          <img class="avatar" src="{{user.personalData.avatar}}">
          <h3>{{user.personalData.name}}</h3>
          <span class="material-icons">
            keyboard_arrow_down
          </span>
        </button>

        <mat-menu #menu="matMenu">
          <button mat-menu-item routerLink="/profile">
            <mat-icon>account_circle</mat-icon>
            <span> My Profile </span>
          </button>

          <button mat-menu-item routerLink="/settings">
            <mat-icon>settings</mat-icon>
            <span> Settings </span>
          </button>

          <button mat-menu-item (click)="onLogout()">
            <mat-icon>power_settings_new</mat-icon>
            <span> Logout </span>
          </button>
        </mat-menu>
      </div>
      <!-- User Section End -->

    </mat-toolbar>

   
    <!-- Add Content Here -->
    <ng-content>

    </ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>