<form  id="student_Form"  [formGroup]="studentForm" (ngSubmit)="addStudent()">

    <div class="form-group mb-3">
      <label for="username">Name</label>
        <input type="text" class="form-control" id="username" placeholder="Name" formControlName="name">
        <div *ngIf="name.touched && name.invalid">
          <small *ngIf="name.errors.required" class="text-danger">name is required<br></small>
          <small *ngIf="name.errors.pattern" class="text-danger">Invalid name<br></small>
          <small *ngIf="name.errors.minlength" class="text-danger">name must contain 6 characters at least</small>
        </div>
    </div>

    <div form-group class="mb-3">
      <label for="email">Email </label>
      <input type="email" class="form-control" id="email" placeholder="xxxxxxxxxx@xxxx.edu.eg" formControlName="email">
      <div *ngIf="email.touched && email.invalid">
        <small *ngIf="email.errors.required" class="text-danger">email is required<br></small>
        <small *ngIf="email.errors.pattern" class="text-danger">Invalid email<br></small>
      </div>
    </div>

    <div class="form-group mb-3">
      <label for="Password">Password</label>
      <input type="password" class="form-control" id="Password" placeholder="Password" formControlName="password">
      <div *ngIf="password.touched && password.invalid">
        <small *ngIf="password.errors.required" class="text-danger">Password is required<br></small>
        <small *ngIf="password.errors.minlength" class="text-danger">password must contain 6 characters at least</small>
      </div>
    </div>

    <div class="form-group mb-3">
      <label for="Password">confirm Password</label>
      <input type="password" class="form-control" id="rePassword" placeholder="Password" formControlName="repassword">
      <div *ngIf="repassword.touched && repassword.invalid">
        <small *ngIf="repassword.errors.required" class="text-danger">Repeat Password is required<br></small>
      </div>
      <div *ngIf="repassword.valid && repassword.value != password.value" class="text-danger">
        <small>The passwords entered do not match</small> 
      </div>
    </div>

    <div class="form-group mb-3">
      <div >
        <label for="University">University</label>
        <select class="custom-select d-block w-100" id="university" formControlName="university" >
          <option>Choose...</option>
          <option value={{university.id}}  *ngFor="let university of universityList ">{{university.name}}</option>
        </select>
        <div *ngIf="university.touched && university.invalid">
          <small *ngIf="university.errors.required" class="text-danger">university is required<br></small>
        </div>
      </div>

      <div class="form-group mb-3">
        <label for="faculty">Faculty</label>
        <select class="custom-select d-block w-100" id="faculty" formControlName="faculty" >
          <option>Choose...</option>
          <option value={{faculty.id}} *ngFor="let faculty of facultyList ">{{faculty.name}}</option>
        </select>
        <div *ngIf="faculty.touched && faculty.invalid">
          <small *ngIf="faculty.errors.required" class="text-danger">faculty is required<br></small>
        </div>
      </div>

      <div class="form-group mb-3">
        <label for="department">Department</label>
        <select class="custom-select d-block w-100" id="department" formControlName="department" >
          <option >Choose...</option>
          <option value={{department.id}} *ngFor="let department of departmentList ">{{department.name}}</option>
        </select>
        <div *ngIf="department.touched && department.invalid">
          <small *ngIf="department.errors.required" class="text-danger">department is required<br></small>
        </div>
      </div>
    </div>

    <div class="form-group mb-3">
        <label for="year">level</label>
        <select class="custom-select d-block w-100" id="year" formControlName="level">
          <option >Choose...</option> 
          <option value="0">preparatory</option>
          <option value="1">First</option>
          <option value="2">Second</option>
          <option value="3">Third</option>
          <option value="4">Forth</option>
          <option value="5">Fifth</option>
          <option value="6">Sixth</option>
        </select>
        <div *ngIf="level.touched && level.invalid">
          <small *ngIf="level.errors.required" class="text-danger">level is required<br></small>
        </div>
    </div>

    <div class="form-group mb-3">
      <label for="tel-input">Phone</label>
        <input class="form-control" type="tel" placeholder="01*********" id="tel" formControlName="phone">
        <div *ngIf="phone.touched && phone.invalid">
          <small *ngIf="phone.errors.required" class="text-danger">Phone is required<br></small>
          <small *ngIf="phone.errors.pattern" class="text-danger">Invalid Phone<br></small>
          <small *ngIf="phone.errors.minlength" class="text-danger">Phone must contain a minimum of 11 characters</small>
          <small *ngIf="phone.errors.maxlength" class="text-danger">Phone must contain a maximum of 11 characters</small>
        </div>
    </div>
    

    <div class="form-group mb-3">
      <label for="address">Address</label>
      <input type="text" class="form-control" id="address" placeholder="1234 Main St" formControlName="address">
      <div *ngIf="address.touched && address.invalid">
        <small *ngIf="address.errors.required" class="text-danger">address is required<br></small>
      </div>
    </div>

    <div class="form-group mb-3">
      <label for="date">BirthDate</label>
        <input class="form-control" type="date" placeholder="1990-08-19" id="birthdate" formControlName="birthdate" (change)="date($event)" >
        <div *ngIf="birthdate.touched && birthdate.invalid">
          <small *ngIf="birthdate.errors.required" class="text-danger">birthdate is required<br></small>
        </div>
        <div>
          <small class="text-danger">{{bodValidation}}</small>
        </div>
    </div>

    <div class="form-group mb-3">
      <label for="avatar">Profile Image</label>
      <input type="file" class="form-control-file" id="avatar" (change)="onFileChange($event)">
      <div>
        <small  class="text-danger">{{imageValidation}}</small>
      </div>
    </div>

    <hr class="mb-4">
    <input type="submit" value="Create Account" [disabled]="studentForm.invalid || repassword.value != password.value || flag == 0 " class="btn btn-primary btn-block" >
  </form>