<mat-accordion>
  <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Show Comments
      </mat-panel-title>
      <mat-panel-description>

        Currently I am {{panelOpenState ? 'open' : 'closed'}}
      </mat-panel-description>
    </mat-expansion-panel-header>

    <app-single-comment></app-single-comment>
    <app-single-comment></app-single-comment>
    <app-single-comment></app-single-comment>
  </mat-expansion-panel>
</mat-accordion>