<div class="container post">

  <div class="row h-100 mx-3 pt-3">
    <div class="col-2 my-auto text-center">
      <img class="w-75 ava" src="{{tool.user.avatar}}" alt="">
    </div>
    <!-- {{post.creator.avatar}} -->
    <div class="col-8 px-3 my-auto">
      <div class="row">
        <div class="col-12">
          <a [routerLink]="['/profile', tool.user.id]"><h5 class="text-primary text">{{tool.user.name}}</h5></a>
        </div>
      </div>

      <div class="row h-100 px-3">
        <span class="my-auto text-secondary material-icons">
          schedule
        </span>
        <span class=" text-secondary">{{tool.created_at_human}}</span>

      </div>

    </div>

    <div class="col-2 my-auto">
      <div class="col-4 ml-auto" *ngIf="(tool.user.id == user.id)">
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu" xPosition="before">
          <div>
            <button mat-menu-item (click)="editTool(tool)">
              <mat-icon>create</mat-icon>
              <span>Edit Tool</span>
            </button>
            <button  mat-menu-item (click)="deleteTool(tool)">
              <mat-icon>delete_sweep</mat-icon>
              <span>Delete Tool</span>
            </button>
            <button *ngIf="!tool.closed" mat-menu-item (click)="closeTool(tool)">
              <mat-icon>close</mat-icon>
              <span>Close</span>
            </button>
          </div>
        </mat-menu>
      </div>
    </div>
  </div>
  
  <div class="row h-100  mx-5 my-2" *ngIf="tool.files.length > 0">
    <hr>
    <div class="col-12">
      <div *ngFor="let file of tool.files">
        <div *ngIf="file.mime.startsWith('image')">
          <div class="row h-100">
            <div class="col-md-6">
              <img class="img-fluid my-3" src="{{file.url}}" alt="image">
            </div>
          </div>
        </div>

        <div *ngIf="file.mime.startsWith('video')">
          <mat-video src="{{file.url}}" [preload]="true" [fullscreen]="true" [download]="true" color="accent"
            spinner="spin">
          </mat-video>
        </div>
        <div *ngIf="file.mime.startsWith('audio')">
          <audio controls>
            <source src="{{file.url}}" type="{{file.mime}}">
            Your browser does not support the audio element.
          </audio>
        </div>
        <div class="col-6" *ngIf="!(file.mime.startsWith('image') || file.mime.startsWith('video')|| file.mime.startsWith('audio')) ">
          <div class="fileList">
            <img class="file-img" src="assets/images/file.png" alt="">
            <a href="{{file.url}}" target="_self " class="example-full-width" >{{file.name}}</a>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="row h-100 mx-5">
    <h3>{{tool.title}}</h3>
 </div>

 <div class="row h-100 mx-5">
  <p class="lead py-2">{{tool.body}}</p>
</div>

  <div class="row h-100 mx-5">
    <p class="text-secondary" style="color: blue;">type: {{tool.type}}</p>
  </div>

  



<div class="row h-100 mx-5" *ngFor="let tag of tool.tags" style="color: blue;">#{{tag}}</div>
<div class="row h-100 mx-5">
  <div class="col-10 my-auto">
    <mat-form-field class="example-full-width px-5">
      <mat-label>Leave a comment</mat-label>
      <textarea [(ngModel)]="CommentBody" rows="3" matInput 
        placeholder="Ex. It makes me feel..."></textarea>
    </mat-form-field>
  </div>
  <div *ngIf="!tool.closed" class="col-2 my-auto">
    <button class="btn btn-primary material-icons" [disabled]="!CommentBody" (click)="addComment()">
      <span>send</span>
    </button>
  </div>
</div>


  <app-tool-comments [comments]="tool.comments" [tool]="tool"></app-tool-comments>
</div>