<nav id="sidebar" class="sidebar">
  <div class="sidebar-content">
    <perfect-scrollbar>
      <div class="sidebar-header">
        <h2 class="text-light">Student's</h2>
      </div>

      <div class="sidebar-profile">
        <div class="user-pic">
          <img class="img-responsive img-rounded" src="{{user.personalData.avatar}}" alt="User picture">
        </div>
        <div class="user-info">
          <span class="user-name">{{user.personalData.name}}</span>
          <span class="user-role">{{user.personalData.type}}</span>
          <span class="user-status">
            <i class="fa fa-circle"></i>
            <span>Online</span>
          </span>
        </div>
      </div>

      <div class="sidebar-search">
        <div>
          <div class="input-group">
            <input type="text" class="form-control search-menu" placeholder="Search...">
            <div class="input-group-append">
              <span class="input-group-text">
                <i class="fa fa-search" aria-hidden="true"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="sidebar-menu">

        <ul>
          <ng-container *ngFor="let menu of menus">
            <li *ngIf="menu != null"
              [ngClass]="{'active':  menu.active , 'sidebar-dropdown': menu.type === 'dropdown' , 'header-menu':menu.type === 'header'}">
              <span *ngIf="  menu.type === 'header'">{{menu.title}}</span>
              <a *ngIf="menu.type !== 'header'" (click)='toggle(menu)' style="cursor: pointer;">
                <i class="{{menu.icon}}"></i>
                <span>{{menu.title}}</span>
              </a>
              <div *ngIf="menu.type === 'dropdown'" class="sidebar-submenu" [@slide]="getState(menu)">
                <ul>
                  <li *ngFor="let submenu of menu.submenus">

                    <a
                      [routerLink]="menu.typo ? ['/'+submenu.route,menu.typo,submenu.scope,submenu.id ? submenu.id : 'all']:['/'+submenu.route,submenu.scope,submenu.id ? submenu.id : 'all']">
                      {{submenu.title}}
                      <span *ngIf="submenu.badge" class="badge badge-pill"
                        [ngClass]="submenu.badge.class">{{submenu.badge.text}}</span>
                    </a>
                  </li>
                </ul>
              </div>
            </li>
          </ng-container>

        </ul>


      </div>
    </perfect-scrollbar>
  </div>

</nav>
