.profile-img img {
    width : 150px;
    height: 150px;
}

.container {
    background-color: white;
    padding         : 50px;
    border-radius   : 50px;
    min-width       : 420px;
}

div {
    position: relative;
    overflow: hidden;
}

.myinput {
    position : absolute;
    font-size: 50px;
    opacity  : 0;
    right    : 0;
    top      : 0;
}