<app-nav>
  <div class="container my-5">
    <div class="row">
      <div class="col-sm-4 col-lg-3">
        <div class="widget">
          <div class="user-photo">
              <img src="../../../assets/images/avatar-exemple.jpg" class="w-100" alt="User Photo">
          </div>
          <div class="file bg-secondary text-light text-center">
            <h4 class="p-2">Change Image</h4>
            <input class="myinput" type="file" name="file"/>
          </div>
        </div>
      </div>

      <div class="col-sm-8 col-lg-9">
        <div class="content">
          <div class="page-title">
            <h1 class="text-primary">Edit Profile</h1>
          </div><!-- /.page-title -->

          <div class="background-white p20 mb30">
            <h3 class="page-title">
              Contact Information

              <a href="#" class="btn btn-primary btn-xs pull-right">Save</a>
            </h3>

            <div class="row">
              <div class="form-group col-sm-12">
                <label>Name</label>
                <input type="text" class="form-control" value="John">
              </div>

  
              <div class="form-group col-sm-12">
                <label>E-mail</label>
                <input type="text" class="form-control" value="sample@example.com">
              </div><!-- /.form-group -->

              <div class="form-group col-sm-12">
                <label>Phone</label>
                <input type="text" class="form-control" value="123-456-789">
              </div><!-- /.form-group -->

              <div class="form-group col-sm-12">
                <label>Address</label>
                <input type="text" class="form-control" value="sidi beshr">
              </div><!-- /.form-group -->
            </div><!-- /.row -->
          </div>


  

       

        </div><!-- /.content -->
      </div><!-- /.col-* -->
    </div><!-- /.row -->
  </div><!-- /.container -->