<div class="m-3 fixed-btn" style="z-index: 20;">
  <button class="floating-btn" (click)="showModal(mymodal)" mat-fab color="primary"
    aria-label="Example icon button with a delete icon">
    <mat-icon>add</mat-icon>
  </button>

</div>
<ng-template #mymodal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">New {{tipo[type]}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>

  <div class="modal-body">

    <div class="row">

      <div class="col-md-6">
        <div class="form-group">
          <input type="text" name="title" [(ngModel)]="title" class="form-control" placeholder="title" value="" />
        </div>

        <select class="custom-select mb-3" (change)="onChangeUniversity($event)">
          <option selected value="-1">Select University </option>
          <option *ngFor="let university of universities ; let i =index" value="{{i}}">{{university.name}}</option>

        </select>
        <select class="custom-select mb-3" (change)="onChangeFaculty($event)">
          <option selected value="-1">Select Faculy </option>
          <option *ngFor="let faculty of faculties ; let i = index" value="{{i}}">{{faculty.name}}</option>
        </select>

        <div class="row w-100 mx-auto">
          <button mat-raised-button color="primary" class="btn-block" (click)="add()"> {{addOrRemove}}</button>
        </div>


      </div>
      <div class="col-md-6">
        <div class="form-group">
          <textarea name="body" [(ngModel)]="body" class="form-control" placeholder="info"
            style="width: 100%; height: 150px;"></textarea>
        </div>
        <div class="form-group">
          <button [disabled]="!(body && title)" mat-raised-button color="accent" (click)="onAddPost()">Publish</button>
        </div>
      </div>
    </div>

    <div class="row w-100" *ngIf="addFile">
      <file-upload accept="image/*" class="w-100" [(ngModel)]="selectedFiles"> </file-upload>`
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Close</button>
  </div>
</ng-template>

<simple-notifications></simple-notifications>
