<div class="container post">
  <div class="row h-100 mx-3 pt-3">
    <div class="col-2 my-auto text-center">
      <img class="w-75 ava" src="{{ post.creator.avatar }}" alt="" />
    </div>
    <!-- {{post.creator.avatar}} -->
    <div class="col-6 px-3 my-auto">
      <div class="row">
        <div class="col-12">
          <h5 class="text">{{ post.creator.name }}</h5>
        </div>
      </div>

      <div class="row h-100 px-3">
        <span class="my-auto text-secondary material-icons">
          schedule
        </span>
        <span class="text-secondary">{{ post.createdHuman }}</span>
      </div>
    </div>

    <div class="col-2">
      <div class="ribbon">
        <i class="float-left fas fa-bullhorn"></i>
      </div>
    </div>

    <div class="col-2 my-auto">
      <div class="col-4 ml-auto">
        <button
          mat-icon-button
          [matMenuTriggerFor]="menu"
          aria-label="Example icon-button with a menu"
        >
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu" xPosition="before">
          <div *ngIf="post.creator.id == user.id">
            <button (click)="onEditPost()" mat-menu-item>
              <mat-icon>create</mat-icon>
              <span>Edit Post</span>
            </button>
            <button (click)="onDeletePost()" mat-menu-item>
              <mat-icon>delete_sweep</mat-icon>
              <span>Delete Post</span>
            </button>
          </div>

          <button mat-menu-item *ngIf="!post.type" (click)="onReportPost()">
            <mat-icon>delete_sweep</mat-icon>
            <span>Report Post</span>
          </button>
        </mat-menu>
      </div>
    </div>
  </div>

  <div *ngIf="!type">
    <div class="row h-100 mx-5">
      <div class="col-lg-4 col-xs-12 col-sm-12 p-3 align-self-center my-auto">
        <div class="row h-100">
          <span class="material-icons text mr-2">
            school
          </span>
          <span class="text-secondary my-auto mr-3">{{
            post.department && post.department.name
          }}</span>
        </div>
      </div>

      <div class="col-lg-4 col-xs-12 col-sm-12 my-auto" *ngIf="post.faculty">
        <div class="row h-100">
          <span class="material-icons mr-2 text">
            account_balance
          </span>
          <span class="text-secondary">{{
            post.faculty && post.faculty.name
          }}</span>
        </div>
      </div>
    </div>
  </div>

  <div class="row h-100 mx-5">
    <div class="col-8">
      <mat-label class="text" [hidden]="!editing">Edit Your Post</mat-label>
      <textarea
        class="mx-5"
        matInput
        [hidden]="!editing"
        [(ngModel)]="postBody"
      ></textarea>
    </div>
    <div class="col-2"></div>
    <div class="col-2 my-auto" [hidden]="!editing">
      <span class="text material-icons" (click)="onUpdatePost()">
        send
      </span>
    </div>
    <p class="lead py-2" [hidden]="editing">{{ post.body }}</p>
  </div>

  <div class="row h-100 mx-5 my-2" *ngIf="post.files.length > 0">
    <div class="col-12">
      <div *ngFor="let file of post.files">
        <div *ngIf="file.mime.startsWith('image')">
          <div class="row h-100">
            <div class="col-6">
              <!-- <img class="img-fluid my-3" src="{{file.url}}" alt="image"> -->
              <app-photo [src]="file.url"></app-photo>
            </div>
            <!-- <div class="col-6">
              <img class="img-fluid my-3" src="{{file.url}}" alt="image">
            </div> -->
          </div>
        </div>

        <div *ngIf="file.mime.startsWith('video')" class="m-2">
          <video #myVideo width="320" height="176" controls>
            <source src="{{ file.url }}" type="video/mp4" />
            <source src="{{ file.url }}" type="video/ogg" />
            Your browser does not support HTML5 video.
          </video>
        </div>
        <div *ngIf="file.mime.startsWith('audio')">
          <audio controls>
            <source src="{{ file.url }}" type="{{ file.mime }}" />
            Your browser does not support the audio element.
          </audio>
        </div>
        <div
          *ngIf="
            !(
              file.mime.startsWith('image') ||
              file.mime.startsWith('video') ||
              file.mime.startsWith('audio')
            )
          "
        >
          <a href="{{ file.url }}" target="_self">{{ file.name }}</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row h-100">
    <div class="col-10 my-auto">
      <mat-form-field class="example-full-width px-5">
        <mat-label>Leave a comment</mat-label>
        <textarea
          [(ngModel)]="comment"
          (input)="onCommenting($event)"
          rows="3"
          matInput
          placeholder="Ex. It makes me feel..."
        ></textarea>
      </mat-form-field>
    </div>
    <div class="col-2 my-auto">
      <span
        class="text material-icons"
        [hidden]="isEmpty"
        (click)="onAddComment(post.id)"
      >
        send
      </span>
    </div>
  </div>

  <app-comment
    [comments]="post.comments"
    [group]="group"
    [postId]="post.id"
    [resource]="resource"
  ></app-comment>
</div>
