<app-search-bar></app-search-bar>
<app-add-post></app-add-post>
<div class="post" *ngFor="let post of posts">
    <div class="row">
        <img src="{{post.image}}" alt="">
        <h4>{{post.name}}</h4>
        <div class="left">
            <mat-icon  class="contact" >message</mat-icon>
            <mat-icon  matBadgeColor="accent" class="report" matBadge="15">report</mat-icon>
        </div>
    </div>

    <div class="row">
        <p>{{post.text}}</p>
    </div>

    <div>
        <mat-form-field class="example-full-width">
            <mat-label>Leave a comment</mat-label>
            <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
        </mat-form-field>
        <app-comment></app-comment>
    </div>
</div>