@import '~@angular/material/theming';

body,
html,
* {
    outline   : none !important;
    box-sizing: border-box !important;
}

span {
    cursor: pointer;
}

video {
    width : 100%;
    height: auto;
}

.ava {
    padding      : 3px;
    border       : 1px solid blue;
    border-radius: 50%;
    min-width    : 50px;
}

p {
    padding    : 1vw;
    padding-top: 1.7vw;
}

body {
    font-size: 62.5%;
}

.example-full-width {
    width: 100%;
}

:host {
    width: 100%;
}

.post {
    width           : 70%;
    min-width       : 420px;
    padding         : 1em 3em;
    background-color: #fff;
    margin          : 0 auto;
    margin-bottom   : 3vw;
    border-radius   : 12px;
    box-shadow      : 1px 1px 4px grey, -1px -1px 4px grey;
}

.report {
    font-size: 40px;
    color    : red;
    cursor   : pointer;
    margin   : 15px;
}

.contact {
    font-size: 40px;
    color    : green;
    cursor   : pointer;
    margin   : 15px;
}

h4 {
    font-size: 2.5vw;
}

input {
    width        : 90%;
    border-radius: 2em;
    padding      : 0.3em 0.2em;
    margin-top   : 0.5em;
    max-height   : 50px;
    float        : left;
}

.mybtn {
    text-align     : center;
    padding        : 0.5em 1em;
    width          : 12%;
    height         : 7%;
    font-size      : 1vw;
    text-decoration: none;
    max-height     : 40px;
}

i {
    width: 10%;
    float: right;
}


.left {
    float      : right;
    margin-left: auto;
}


// ribbon
$shadow     : white;
$ribbonColor: red;

/* The ribbon */

.ribbon {
    width           : 60px;
    height          : 70px;
    background-color: $ribbonColor;
    position        : absolute;
    right           : 0px;
    top             : -32px;

    &:before {
        content      : '';
        position     : absolute;
        z-index      : 2;
        left         : 0;
        bottom       : -30px;
        border-left  : 30px solid $ribbonColor;
        border-right : 30px solid $ribbonColor;
        border-bottom: 30px solid transparent;
    }

    &:after {
        content         : '';
        width           : 200px;
        height          : 270px;
        position        : absolute;
        z-index         : -1;
        left            : 0;
        bottom          : -120px;
        background-color: $shadow;
        transform       : skewY(35deg) skewX(0);
    }
}

@keyframes drop {
    0% {
        top: -350px;
    }

    100% {
        top: 0;
    }
}

.fa-bullhorn{
    font-size: 35px;
    margin-left:10px;
    margin-top: 20px;
    color: white;
}