body,
html,
* {
    outline: none !important;
}

p{
    padding: 1vw;
    padding-top: 1.7vw ;
}

body {
    font-size: 62.5%;
}

.example-full-width {
    width: 100%;
  }
  
:host {
    width: 100%;
}

.post {
    width     : 98%;
    padding   : 1em 3em;
    box-shadow: 7px 7px 5px grey;
    margin    : 1.5em 0;
}

.report{
    font-size: 40px;
    color: red;
    cursor: pointer;
    margin: 15px;
}

.contact
{
    font-size: 40px;
    color: green;
    cursor: pointer; 
    margin: 15px;
}
img {
    width        : 7%;
    border-radius: 50%;
    min-width    : 50px;
}

h4 {
    font-size: 2.5vw;
    margin   : auto 7px;
}

input {
    width        : 90%;
    border-radius: 2em;
    padding      : 0.3em 0.2em;
    margin-top   : 0.5em;
    max-height   : 50px;
    float        : left;
}

.mybtn {
    text-align     : center;
    padding        : 0.5em 1em;
    width          : 12%;
    height         : 7%;
    font-size      : 1vw;
    text-decoration: none;
    max-height     : 40px;
}

i {
    width: 10%;
    float: right;
}


.left {
    float      : right;
    margin-left: auto;
}