body,html,*{
    outline: none !important;
}


.ava{
    min-width: 30px;
    border-radius: 50% ;
    border-radius: 50%;
    padding: 2px;
    border: 1px solid blue;
}

.example-full-width {
    width: 100%;
}

.curs{
    cursor: pointer;
}

h5{
    display: inline;
    padding: 1vw;
}

p{
    padding: 1vw;
    padding-top: 1.7vw ;
}