<nav class="navbar navbar-expand-lg  blue-bg">

    <div class="container">
        <a class="navbar-brand" href="#"> <img src="../../assets/images/logo-white.png" width="45px"></a>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" routerLink="/">STUDENT'S <span class="sr-only">(current)</span></a>
            </li>
        </ul>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="  navbar-nav ml-auto">
                <li class=" nav-item">
                    <a class=" nav-link" href="#">Home</a>
                </li>
                <li class=" nav-item">
                    <a class=" nav-link" routerLink="/register" *ngIf="!signUp">Signup</a>
                    <a class=" nav-link" routerLink="/login" *ngIf="signUp">Login</a>
                </li>
            </ul>
        </div>
    </div>
</nav>