<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title class="text-primary">{{group ? group.name : 'All system'}}</mat-card-title>
    <button *ngIf="user.id === post.creator.id" (click)="onDeletePost()"
      style="position: absolute; right: 15px; max-width: 70px; max-height: 70px;" mat-fab color="warn"
      aria-label="delete">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-card-header>
  <img mat-card-image (click)="showModal(mymodal)" style="cursor: pointer;"
    src="{{post.files ? post.files[0] ? post.files[0].url :defaultImageUrl:defaultImageUrl}}" class="p-4">
  <mat-card-content>
    <div class="row d-100">
      <div class="row  ml-auto">
        <span class="my-auto text-secondary material-icons">
          schedule
        </span>
        <p class="text-primary my-auto d-inline mx-2">{{post.createdHuman}}</p>
      </div>
    </div>
    <h3 class="text-primary">{{post.title.split(' ').splice(0,5).join(' ')+'...'}}</h3>
    <p class="text-secondary lead">
      {{post.body.split(' ').splice(0,10).join(' ')+'...'}}
    </p>
    <button mat-raised-button color="primary" class="my-2" (click)="showModal(mymodal)"> More info </button>
  </mat-card-content>
</mat-card>

<!-- <button class="btn btn-lg btn-outline-primary" (click)="showModal(mymodal)">Open; My; Modal</button> -->

<ng-template #mymodal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{post.title}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>

  <div class="modal-body">
    <div class="avatar-photo">
      <img class="w-75 ava m-3" (click)="onProfileClick(modal)" src="{{post.creator.avatar}}" alt="">
      <span style="cursor: pointer;" (click)="onProfileClick(modal)">{{post.creator.name}}</span>
    </div>

    <app-images-carousel [files]="post.files" [defaultImageUrl]="defaultImageUrl"></app-images-carousel>
    <div class="mx-5" style="color: blue;">
      start date : {{post.startDate.split('T')[0]}}
    </div>
    <div class="mx-5" style="color: blue;">
      end date : {{post.endDate.split('T')[0]}}
    </div>

    <div class="mx-5">
      {{post.body}}
    </div>

    <div class="row mt-2">
      <div class="col-10">

        <mat-form-field class="example-full-width px-5">
          <mat-label>Leave a comment</mat-label>
          <textarea [(ngModel)]="comment" (input)="onCommenting($event)" rows="3" cols="15" matInput
            placeholder="comment"></textarea>
        </mat-form-field>
      </div>

      <div class="col-2 mt-auto" style="width: 65px;height: 50px;">
        <span class="text material-icons" style="cursor: pointer;" [hidden]="isEmpty" (click)="onAddComment(post.id)">
          send
        </span>
      </div>
    </div>
    <app-comment [comments]="post.comments" [group]="group" [postId]="post.id" [resource]="resource"
      [postUserId]="post.creator.id"></app-comment>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-outline-danger" (click)="modal.close('Save click')">Close</button>
  </div>
</ng-template>
