    #header {
        background-color: white;
    }

    h2 {
        // font-family: Apple Chancery, cursive;
        margin-bottom: 20px;
        color        : #007bff;
    }

    .askbtn {
        border-radius: 25px;
        margin-top   : 50px;
    }

    h5 {
        color: grey;
    }

    .bar {
        background   : #f3f9fd;
        padding      : 10px 0;
        text-align   : center;
        margin-bottom: 20px;
    }

    .bar .col-lg-4 {
        display        : flex;
        align-items    : center;
        justify-content: center;
    }

    .anim {
        box-shadow        : 5px 5px 5px grey;
        animation-name    : move;
        position          : relative;
        animation-duration: 3s;
        margin-top        : -5px;
        animation-timing-function: ease-in-out;
    }
    
    @keyframes move {
        0% {
            right  : -100%;
            opacity: 0%;
        }
    
        75% {
            right  : 30px;
            opacity: 90%;
        }
    
        100%{
            right: 0px;
            opacity: 100px;
        }
    }


    .search_input {
        color      : #0e71c8;
        border     : 0;
        outline    : 0;
        background : none;
        width      : 90%;
        caret-color: transparent;
        transition : width 0.4s linear;

    }

    .searchbar:hover>.search_input {
        padding    : 0 10px;
        width      : 450px;
        caret-color: #0e71c8;
    }

    .searchbar:hover>.search_icon {
        color: #0e71c8;
    }

    .active {
        border-color    : #007bff;
        background-color: white;
    }

    .edit-field {
        width: 100%;
    }


.searchbar{
    margin: auto;
    height: 60px;
    background-color:white;
    border-radius: 30px;
    padding: 10px;
    box-shadow: 1px 1px 4px #0e71c8;
    width: 50%;
    margin-top: 50px;
    margin-bottom: 50px;
    }

    .search_input{
    color: #0e71c8;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color:transparent;
    line-height: 40px;
    transition: width 0.4s linear;
    
    }

    .searchbar:hover > .search_input{
    padding: 0 10px;
    width: 450px;
    caret-color:#0e71c8;
    transition: width 0.4s linear;
    }

    .searchbar:hover > .search_icon{
    color: #0e71c8;}