<app-nav>
    <div class="wrapper">
        <img class="w-100 anim img-fluid" src="../../../assets/images/assets/questions.jpg" alt="">

    <!-- <div class="col-lg-4 col-md-4 col-4" *ngIf="recent">
        <div class="container h-100">
            <div class="">
                  <div class="searchbar">
                      <input class="search_input" type="text" name="" placeholder="Search..." [(ngModel)]="SearchTag">
                      <a class="search_icon" (click)="search()"><i class="fas fa-search"></i></a>
                      <div class="text-center" *ngIf="response!=null" style="margin-top: 25px;"><strong class="alert alert-danger" >{{response}}</strong></div>
                  </div>
            </div>
        </div>
    </div> -->

    <section id="bar" class="bar">
        <div class="container">

            <div class="row my-3">
                
                <div class="col-lg-4 col-md-4 col-4">
                    <button class="btn btn-link" (click)="showRecent()"
                        [ngClass]="{ 'active ': recent}"><strong>Recent</strong></button>
                </div>

                <div class="col-lg-4 col-md-4 col-4">
                    <button class="btn btn-link" (click)="showTags()"
                        [ngClass]="{ 'active ': !recent}"><strong>Tags</strong></button>
                </div>
                <div class="col-lg-4 col-md-4 col-4">
                    <button class="btn btn-primary askbtn" (click)="addQuestion()">Ask Now</button>
                </div>

            </div>
        </div>
    </section>


    <div class="container h-100 my-2"  *ngIf="recent">
        <div class=" justify-content-center h-100">
            <div class="searchbar">
                <input class="search_input" type="text" name="" placeholder="Search..." [(ngModel)]="SearchTag">
                <a class="search_icon" (click)="search()"><i class="fas fa-search"></i></a>
                <div class="text-center" *ngIf="response!=null" style="margin-top: 25px;"><strong
                        class="alert alert-danger">{{response}}</strong></div>
            </div>
        </div>
    </div>
    <div *ngIf="recent">
        <app-single-question *ngFor="let question of QuestionsList" [question]="question"></app-single-question>
    </div>
    <div *ngIf="!recent">
        <app-question-tags [choosing]="false" [questionTags]="questionTags"></app-question-tags>
    </div>
</div>
</app-nav>