    #header{
        background-color: white;
    }

    h2{
        // font-family: Apple Chancery, cursive;
        margin-bottom: 20px;
        color: #007bff;
    }

    .askbtn{
        border-radius: 25px;
        margin-top: 50px;
    }

    h5{
        color:grey;
    }

    .bar {
        background: #f3f9fd;
        padding: 10px 0;
        text-align: center;
        margin-bottom: 20px;
    }
  
  .bar .col-lg-4 {
    display: flex;
    align-items: center;
    justify-content: center;
  }


  .searchbar{
    margin: auto;
    height: 60px;
    background-color:white;
    border-radius: 30px;
    padding: 10px;
    box-shadow: 1px 1px 4px #0e71c8;
    width: 90%;
    }

    .search_input{
    color: #0e71c8;
    border: 0;
    outline: 0;
    background: none;
    width: 90%;
    caret-color:transparent;
    transition: width 0.4s linear;
    
    }

    .searchbar:hover > .search_input{
    padding: 0 10px;
    width: 450px;
    caret-color:#0e71c8;
    }

    .searchbar:hover > .search_icon{
    color: #0e71c8;}

    .active{
    border-color: #007bff;
    background-color: white;}

    .edit-field{
        width: 100%;}