<app-nav>
    <section id="header" class="d-flex align-items-center">

        <div class="container">
        <div class="row">
            <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
            <h2>Welcome to Qustions Section</h2>
            <h5>Ask a qustion<br> and you will be sure <br>to find an answer</h5>
            <div data-aos="fade-up" data-aos-delay="800">
                <button class="btn btn-primary askbtn">Ask Now</button>
            </div>
            </div>

            <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="fade-left" data-aos-delay="200">
            <img src="assets/images/questions.png" class="img-fluid animated" alt="">
            </div>
        </div>
        </div>
    </section>

    <section id="bar" class="bar">
        <div class="container">
  
          <div class="row">
  
            <div class="col-lg-4 col-md-4 col-4">
                <button  class="active btn btn-link"><strong>Recent</strong></button>
            </div>
  
            <div class="col-lg-4 col-md-4 col-4">
                <button  class="btn btn-link"><strong>Tags</strong></button>
            </div>
  
            <div class="col-lg-4 col-md-4 col-4">
                <div class="container h-100">
                    <div class=" justify-content-center h-100">
                          <div class="searchbar">
                              <input class="search_input" type="text" name="" placeholder="Search..." >
                              <a class="search_icon"><i class="fas fa-search"></i></a>
                              <!-- <div class="text-center" style="margin-top: 25px;"><strong class="alert alert-danger" ></strong></div> -->
                          </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
    </section>

    <app-single-question *ngFor="let question of QuestionsList" [question]="question" [user]="user" [QuestionTags]="QuestionTags"></app-single-question>

</app-nav>