:host{
    box-sizing: border-box;
    background-color: #f00;
}


.wrapper{
    display: flex;
    word-wrap: break-word;
    background-color: #eee;
}

h3{
    color: #58595B;
    font-size: 2.5vw ;
}


body,
html,
* {
    outline: none !important;
}


