<form  id="company_Form"  [formGroup]="companyForm" (ngSubmit)="addCompany()">

  <div class="form-group mb-3 alert alert-danger  text-center " *ngIf="errorList.length>0" >
    <p *ngFor="let error of errorList">{{error}}<br></p>
  </div>

    <div class="form-group mb-3">
      <label for="username">Company Name</label>
        <input type="text" class="form-control" id="username" placeholder="Name" formControlName="name">
        <div *ngIf="name.touched && name.invalid">
          <small *ngIf="name.errors.required" class="text-danger">name is required<br></small>
          <small *ngIf="name.errors.pattern" class="text-danger">Invalid name<br></small>
          <small *ngIf="name.errors.minlength" class="text-danger">name must contain 6 characters at least</small>
        </div>
    </div>

    <div form-group class="mb-3">
      <label for="email">Email </label>
      <input type="email" class="form-control" id="email" placeholder="company@example.com" formControlName="email">
      <div *ngIf="email.touched && email.invalid">
        <small *ngIf="email.errors.required" class="text-danger">email is required<br></small>
        <small *ngIf="email.errors.pattern" class="text-danger">Invalid email<br></small>
      </div>
    </div>

    <div class="form-group mb-3">
      <label for="Password">Password</label>
      <input type="password" class="form-control" id="Password" placeholder="Password" formControlName="password">
      <div *ngIf="password.touched && password.invalid">
        <small *ngIf="password.errors.required" class="text-danger">Password is required<br></small>
        <small *ngIf="password.errors.minlength" class="text-danger">password must contain 8 characters at least</small>
        <small *ngIf="password.errors.maxlength" class="text-danger">password can contain 30 characters maximum<br></small>
        <small *ngIf="password.errors.pattern" class="text-danger">password must contain  at least one uppercase letter and one lowercase letter<br></small>
        <small *ngIf="password.errors.pattern" class="text-danger">password must contain  at least one number and one special character</small>
      </div>
    </div>

    <div class="form-group mb-3">
      <label for="Password">confirm Password</label>
      <input type="password" class="form-control" id="rePassword" placeholder="Password" formControlName="repassword">
      <div *ngIf="repassword.touched && repassword.invalid">
        <small *ngIf="repassword.errors.required" class="text-danger">Repeat Password is required<br></small>
      </div>
      <div *ngIf="repassword.valid && repassword.value != password.value" class="text-danger">
        <small>The passwords entered do not match</small> 
      </div>
    </div>

    <div class="form-group mb-3">
      <label for="tel-input">Website</label>
        <input class="form-control" type="url" placeholder="https://www.xxxx.com" id="url" formControlName="website">
        <div *ngIf="website.touched && website.invalid">
          <small *ngIf="website.errors.required" class="text-danger">website is required<br></small>
          <small *ngIf="website.errors.pattern" class="text-danger">Invalid website<br></small>
          
        </div>
    </div>
    
    <div class="form-group mb-3">
      <label for="tel-input">Fax</label>
        <input class="form-control" type="tel" placeholder="‎+20********" id="fax" formControlName="fax">
        <div *ngIf="fax.touched && fax.invalid">
          <small *ngIf="fax.errors.required" class="text-danger">fax is required<br></small>
          <small *ngIf="fax.errors.pattern" class="text-danger">Invalid fax make sure you enter 8 digits after Egypt code +20</small>
          <small *ngIf="fax.errors.maxlength" class="text-danger">fax can contain 15 characters maximum<br></small>
        </div>
    </div>
    
    <div class="form-group mb-3">
      <label for="tel-input">Phone</label>
        <input class="form-control" type="tel" placeholder="01*********" id="tel" formControlName="phone">
        <div *ngIf="phone.touched && phone.invalid">
          <small *ngIf="phone.errors.required" class="text-danger">Phone is required<br></small>
          <small *ngIf="phone.errors.pattern" class="text-danger">Invalid Phone<br></small>
          <small *ngIf="phone.errors.minlength" class="text-danger">Phone must contain a minimum of 11 characters</small>
          <small *ngIf="phone.errors.maxlength" class="text-danger">Phone must contain a maximum of 15 characters</small>
        </div>
    </div>
    

    <div class="form-group mb-3">
      <label for="address">Address</label>
      <input type="text" class="form-control" id="address" placeholder="1234 Main St" formControlName="address">
      <div *ngIf="address.touched && address.invalid">
        <small *ngIf="address.errors.required" class="text-danger">address is required<br></small>
      </div>
    </div>
    
    <div class="form-group mb-3">
      <label for="description">Description</label>
        <textarea class="form-control" id="description" rows="3" formControlName="description"></textarea>
        <div *ngIf="description.touched && name.invalid">
          <small *ngIf="description.errors.required" class="text-danger">Description is required<br></small>
          <small *ngIf="description.errors.maxlength" class="text-danger">Description can contain 250 characters maximum</small>
        </div>
    </div>
    <hr class="mb-4">
    <input type="submit" value="Create Account" [disabled]="companyForm.invalid || repassword.value != password.value || flag == 0 " class="btn btn-primary btn-block" >
  </form> 