<app-nav>
    <div class="wrapper">

        <div class="profile-card js-profile-card"  *ngIf="data">
            <div class="profile-card__img" *ngIf="data.avatar!=null">
                <img src="{{data.avatar}}" alt="profile card">
            </div>

            <div class="profile-card__cnt">
                <div class="profile-card__name">{{ data.name}}</div>
                <div class="profile-card__txt">{{ data.type}}</div>
                <div *ngIf="data.type=='Student'&&studyData!=null">
                    <hr>
                    <div class="profile-card__txt">
                        <span class="material-icons text-secondary">
                            account_balance
                        </span>
                        {{ studyData[0].faculty.university.name}} University</div>


                     <div class="profile-card__txt">
                        <span class="material-icons text-secondary">
                            school
                        </span>
                        {{ studyData[0].faculty.name}} Faculty</div>
                
                        <div class="profile-card__txt">
                            <span class="material-icons text-secondary">
                                assignment_ind
                            </span>
                            {{ studyData[0].department.name}} Department</div>
                        
                        <div class="profile-card__txt" *ngIf="studyData.length>1">
                            <span class="material-icons text-secondary">
                                assignment_ind
                            </span>
                            {{ studyData[1].department.name}} Department </div>
                        
                        <div class="profile-card-inf__txt">
                            
                            Year : {{  data.profile.year}} </div>
                               
                </div>

                <hr>    
                    <div class="profile-card__txt">
                        <span class="material-icons text-secondary">
                            email
                        </span>
                        {{data.email}} </div>
                    
                    <div class="profile-card__txt">
                        <span class="material-icons text-secondary">
                            phone
                        </span>
                        {{data.mobile}} </div>
                    
                    <div class="profile-card__txt">
                        <span class="material-icons text-secondary">
                            location_on
                        </span>
                        {{data.address}} </div>
                <hr>

                <div *ngIf="data.type=='Student'">
                    <div class="profile-card-inf__txt">
                        <span class="material-icons text-secondary">
                            cake
                        </span>
                        BirthDate : {{  data.profile.birthdate}}</div>
                </div>

                <div *ngIf="data.type=='Company'">
                    <span class="profile-card__name">
                        Fax : 
                    </span>
                    <div class="profile-card__txt">
                        {{ data.profile.fax}}</div>
                
                    <span class="profile-card__name">
                        Website : 
                    </span>
                    <div class="profile-card__txt">
                        {{ data.profile.website}}</div>


                    <span class="profile-card__name">
                                Description : 
                    </span>    
                    <div class="profile-card__txt" >
                    {{ data.profile.description}} </div>
                </div>

                <div *ngIf="data.type=='TeachingStaff'">
                    <div class="profile-card__txt">
                        <span class="material-icons text-secondary">
                            receipt_long
                        </span>
                        Certificates : {{ data.profile.scientific_certificates}}</div>
                
                        <div class="profile-card__txt">
                            <span class="material-icons text-secondary">
                                cake
                            </span>
                            BirthDate : {{  data.profile.birthdate}}</div>
                        
                </div>

                

                <div class="profile-card-ctr">
                    <button class="profile-card__button button--blue js-message-btn" routerLink="update">Edit Profile</button>
                </div>
            </div>



        </div>

    </div>

</app-nav>