<mat-expansion-panel class="mb-2">
  <mat-expansion-panel-header>
    <mat-panel-title class="text-center">
      Courses
    </mat-panel-title>
  </mat-expansion-panel-header>
  <mat-action-row class="justify-content-start">
    <button mat-button [routerLink]="['/courses']" 	  [ngClass]="{'active': !courseDepartment}">All</button>
    <button
      mat-button
      *ngFor="let course of courses"
	  [routerLink]="['/courses', course.id]"
	  [ngClass]="{'active':course.id == courseDepartment}"
    >
      {{ course.course.name }}
    </button>
  </mat-action-row>
</mat-expansion-panel>
