/* You can add global styles to this file, and also import other style files */
.rounded-button
{
    border-radius: 25px;
    padding: 0px 25px ; 
    color: #3762F0;

}
.vertical { 
    margin-top: 120px;
    border-left: 1px solid #939aa1; 
    height: 210%; 
    position:absolute; 
    left: 50%; 
} 
hr{
	margin-top: 10px;
	margin-bottom: 0px;
	clear: both;
    height: 1px;
     width: 100%;}
.top-left h4{
    color: #6c757d;
    font-family: "Times New Roman", Times, serif;
    position: absolute;
  top: 65px;
  left: 100px;
}

.top-left h5{
    color: #3762F0;
    font-family: Courier, monospace;
    position: absolute;
    top: 95px;
    left: 100px;
  }
body,html {
  height: 100%;
}
