/* You can add global styles to this file, and also import other style files */

//general classes to be used in all items for example button general shape
.rounded-button {
    border-radius: 25px;
    padding      : 0px 25px;
    color        : #3762F0;

}

.blue-button
{
    border-radius: 30px;
    padding      : 0px auto;
    color        : #fff;
    background-color: #3762F0;
    border: none;
}

.blue-bg {
    background-color: #3762F0;
}

//end of general classes

//navbar styling
ul li a {
    padding: 0 20px;
    color  : white;
}

ul li a :hover {
    color: white;
}

.toggler {
    background-color: #fff;
}

// end of navbar styling

//header styling
header {
    position: relative;
    overflow: hidden;
}

header::after {
    content: "";
    display: block;
    clear  : both;
}

.text
{
    position: absolute;
    top      : 20%;
    left     : 12.6%;
    width: 26%;
    word-wrap: break-word;

}
header h1 {

    font-size: 4.44vw;
}

header h2 {
    color    : #3762F0;
    font-size: 3vw;
    margin-bottom: 10%;
}



header p 
{
    font-size: 1vw;
    margin-bottom: 20%;    
}

header button {
    width: 33%;

}
.btn-container
{

    width: 33%;
  position: relative;
  word-wrap: normal;
}

.responsive-width
{
    font-size: 2vw;
}

.button-res
{
    position: absolute;
    top      : 65%;
    left     : 12.6%;
    width: 15%;
}
//end of header styling


//hero banner

.banner
{
    position: relative;
}
.banner .img-fluid
{
    width: 100%;
    background-size: cover;
}

.banner-logo
{
    position: absolute;
    top: 45%;
    left: 45%;
    width: 15%;
}
//end of hero banner

// upcoming events section
.upcoming-events
{
    text-align: center;
}

.upcoming-events h1
{
    
    margin: 4%;
    font-weight: bold;
}

.upcoming-events svg{position: relative;}









