body,
html {
    box-sizing: border-box;
}

.post {
    width           : 80%;
    padding         : 1vw 3vw;
    box-shadow      : 5px 5px 3px grey;
    background-color: white;
    margin          : 2em auto;
    display         : flex;
}

img {
    float: left;
    width        : 10%;
    height       : 10%;
    border-radius: 50%;
    margin       : 1%;
    min-width    : 50px;
}

.block{
    display: block;
    width: 100%;
}



button {
    outline: none;
}

.example-full-width {
    width : 70%;
    height: 7%;
}