<div class="post" *ngFor="let post of posts">
    <img src="{{post.image}}" alt="">
    <mat-form-field class="example-full-width">
        <mat-label>add your post</mat-label>
        <textarea rows="3" (input)="onCommenting($event)" matInput placeholder="Ex. It makes me feel..."></textarea>
    </mat-form-field>
    <label class="btn btn-primary my-auto">
        Add File <input type="file" hidden>
    </label>
  

    <button mat-button [hidden]="isEmpty" color="primary">Post</button>


</div>