body,
html {
    box-sizing: border-box;
}

.post {
    width           : 80%;
    padding         : 1vw 3vw;
    box-shadow      : 5px 5px 3px grey;
    margin          : .5em auto;
    background-color: rgb(246, 240, 240);
    display         : flex;
}

img {
    float: left;
    width        : 10%;
    height       : 10%;
    border-radius: 50%;
    margin       : 1%;
    min-width    : 50px;
}





button {
    outline: none;
}

.example-full-width {
    width : 80%;
    height: 7%;
}