/* You can add global styles to this file, and also import other style files */



body,
*,
html {
    margin  : 0px;
    padding : 0px;
    position: relative;
    // overflow: hidden;
}

//general classes to be used in all items for example button general shape
.rounded-button {
    border-radius: 25px;
    padding      : 0px 25px;
    color        : #3762F0;

}

.blue-button {
    border-radius   : 30px;
    padding         : 0px 20px;
    color           : #fff;
    background-color: #3762F0;
    border          : none;
}

.blue-bg {
    background-color: #3762F0;
}

//end of general classes

//navbar styling


.logo {
    width: 7vw;
}

ul li a {
    padding: 0px 20px;
    color  : rgb(0, 140, 233);
}

ul li a :hover {
    color: rgb(0, 140, 233);
}

ul li button {
    margin: 7px;
}

// end of navbar styling



.carousel-control-next-icon:after {
    content  : '>';
    font-size: 55px;
    color    : #3A82F6;
}

.carousel-control-prev-icon:after {
    content  : '<';
    font-size: 55px;
    color    : #3A82F6;
}


// upcoming events section
.upcoming-events {
    text-align: center;
}

.upcoming-events h1 {
    margin     : 4%;
    font-weight: bold;
}

// .upcoming-events {position: relative;}
//caresoul
.owl-container {
    position: absolute;
    top     : 30%;
    left    : 7%;
    width   : 90%;
    margin  : 0 auto;
}

.caresoul-item {
    background-color: white;
    border-radius   : 10px;
    box-shadow      : 7px 7px 15px black;
    width           : 90%;
    height          : 35vw;
    padding         : 1%;
    margin          : 1%;
}

.caresoul-item-content {
    width        : 40%;
    margin       : 10px auto;
    border-radius: 50%;
    border       : 7px solid #3762F0;
    padding      : 25px;
}

.caresoul-item-text {
    margin      : 2.5vw auto;
    column-count: 3;
    column-gap  : 5px;
    column-rule : 1px solid #58595B;
}

.caresoul-item-paragraphs h3,
.caresoul-item-paragraphs p {
    font-size: 1.5vw;
}

.item-btn {
    padding         : 1vw 3vw;
    width           : 70%;
    margin          : 2.5vw auto;
    background-color: #58595B;
    color           : white;
    border-radius   : 50px 0px;
    border          : none;
}

.txt{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 100px;
}
// end of slider


//latest news section

.latest-news h1 {
    margin     : 4%;
    font-weight: bold;
}

.latest-news .left {
    width: 50%;
    float: left;
}

.latest-news .left img {
    width: 100%;
}


.latest-news .right {
    float: right;
    width: 50%;
}

.upcoming-events {
    position: relative;
}


//header
@keyframes move_wave {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1)
    }

    50% {
        transform: translateX(-25%) translateZ(0) scaleY(0.55)
    }

    100% {
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
}

.anim {
    position : relative;
    top      : 0;
    left     : 0;
    right    : 0;
    bottom   : 0;
    min-width: 100%;
    height   : 40vw;
    overflow : hidden;
}

.waveWrapper {
    position: absolute;
    top     : 0;
    left    : 0;
    right   : 0;
    bottom  : 0;
    margin  : auto;
    width   : 100%;
}

.waveWrapperInner {
    position        : absolute;
    width           : 100%;
    height          : 100%;
    bottom          : -1px;
    background-image: linear-gradient(to bottom, #2296F3, #27273c 80%);
}

.bgTop {
    z-index: 15;
    opacity: 0.5;
    width  : 200%;
}

.bgMiddle {
    z-index: 10;
    opacity: 0.75;
    width  : 200%;
}

.bgBottom {
    z-index: 5;
    width  : 200%;
}

.wave {
    position           : absolute;
    left               : 0;
    width              : 200%;
    height             : 100%;
    overflow           : hidden;
    background-repeat  : repeat no-repeat;
    background-position: 0 bottom;
    transform-origin   : center bottom;
}

.waveTop {
    background-size: 50% 100px;
    width          : 100%;

}

.waveAnimation .waveTop {
    animation              : move-wave 3s;
    -webkit-animation      : move-wave 3s;
    -webkit-animation-delay: 1s;
    animation-delay        : 1s;
}

.waveMiddle {
    background-size: 50% 120px;
    width          : 100%;

}

.waveAnimation .waveMiddle {
    animation: move_wave 10s linear infinite;
}

.waveBottom {
    background-size: 50% 100px;
}

.waveAnimation .waveBottom {
    animation: move_wave 15s linear infinite;
}


//text
@import url('https://fonts.googleapis.com/css?family=Roboto:300');

.text {
    margin     : 0 auto;
    position   : absolute;
    top     : 18vw;
    left: 25vw;
    z-index    : 50;
    font-size  : 5vw;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


.std {
    animation: showup 7s infinite;
    animation-timing-function: ease-in-out;
}

.conn {
    animation: slidein 7s infinite;
    animation-timing-function: ease-in-out;
}

@keyframes showup {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes slidein {
    0% {
        position: relative;
        left    : -100%;
        opacity : 0;
    }

    20% {
        left   : -100%;
        opacity: 0;
    }

    30% {
        opacity: 0;
    }

    35% {
        left   : 20px;
        opacity: 1;
    }

    80% {
        left: 0;
        opacity: 1;
    }

    100% {
        left: 0px;
        opacity: 0;
    }
}   
