<nav class="navbar navbar-expand-lg   mx-5 mb-3">
  <a class="navbar-brand" [routerLink]="'.'"><img class="logo" src="../../assets/images/logo-home.jpg"> </a>

  <h1 class="navbar-brand text-primary">STUDENT'S</h1>
  <!-- Step 3: Toggle the value of the property when the toggler button is clicked. -->
  <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
    &#9776;
  </button>

  <!-- Step 2: Add the ngbCollapse directive to the element below. -->
  <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
    <ul class="  navbar-nav ml-auto">
      <li class=" nav-item">
        <a class=" nav-link" routerLink="/">Home</a>
      </li>
      <ng-container *ngIf="isAuthenticated">
        <li class=" nav-item">
          <a class=" nav-link" routerLink="/groups">Groups</a>
        </li>
        <li class=" nav-item">
          <a class=" nav-link" routerLink="/announcements">Announcements</a>
        </li>
        <li class=" nav-item">
          <a class=" nav-link" routerLink="/events">Events</a>
        </li>
        <li class=" nav-item">
          <a class=" nav-link" routerLink="/companies">Companies</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/tools">Sharing Tools</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/transportition">Sharing Habitations</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/questions">Questions</a>
        </li>
      </ng-container>

      <li class="nav-item">

      </li>
      <!-- <button class="btn  blue-button" *ngIf="!isAuthenticated">Login</button> -->

      <!-- <button class="btn btn-light my-2 my-sm-0 rounded-button" (click)="onLogout()" *ngIf="isAuthenticated">Logout</button> -->
      <button class="btn  blue-button" *ngIf="!isAuthenticated" routerLink="/login">Login</button>

      <button class="btn  blue-button" (click)="onLogout()" *ngIf="isAuthenticated">Logout</button>
    </ul>
  </div>
</nav>

<div class="text text-center text-light">
  <span class="std"> Student's </span>
  <span class="conn">Connecting us</span>
</div>


<div class="anim">
  <div class="waveWrapper waveAnimation">
    <div class="waveWrapperInner bgTop">
      <div class="wave waveTop" style="background-image: url('http://front-end-noobs.com/jecko/img/wave-top.png')">
      </div>
    </div>
    <div class="waveWrapperInner bgMiddle">
      <div class="wave waveMiddle" style="background-image: url('http://front-end-noobs.com/jecko/img/wave-mid.png')">
      </div>
    </div>
    <div class="waveWrapperInner bgBottom">
      <div class="wave waveBottom" style="background-image: url('http://front-end-noobs.com/jecko/img/wave-bot.png')">
      </div>
    </div>
  </div>
</div>

<div class="mx-auto my-5 text-center">
  <h1 
  data-aos="fade-up" data-aos-delay="50"
  data-aos-duration="1000"
  data-aos-easing="ease-in-out"
  data-aos-mirror="true"
  data-aos-once="false"
  data-aos-offset="500"
  class="txt text-primary">Student's</h1>
  <h2 data-aos="fade-right"
  data-aos-delay="50"
    data-aos-duration="1000"
    data-aos-easing="ease-in-out"
    data-aos-mirror="true"
    data-aos-once="false"
    data-aos-offset="500"
     class="txt text-secondary">Features</h2>
</div>

<ngb-carousel interval="2000" class="w-100">
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img class="img-fluid w-100" src="../../assets/images/assets/banner1.jpg" alt="Random first slide">
    </div>
  </ng-template>

  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img class="img-fluid w-100" src="../../assets/images/assets/banner2.jpg" alt="Random second slide">
    </div>
  </ng-template>

  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img class="img-fluid w-100" src="../../assets/images/assets/banner4.jpg" alt="Random third slide">
    </div>
  </ng-template>

  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img class="img-fluid w-100" src="../../assets/images/assets/chat.jpg" alt="Random third slide">
    </div>
  </ng-template>

  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img class="img-fluid w-100" src="../../assets/images/assets/videos.jpg" alt="Random third slide">
    </div>
  </ng-template>
</ngb-carousel>


<div class="mx-auto my-5 text-center">
  <h1 data-aos="fade-up" 
  data-aos-delay="50"
    data-aos-duration="2000"
    data-aos-easing="ease-in-out"
    data-aos-mirror="true"
    data-aos-once="false"
    data-aos-anchor-placement="top-center"
    data-aos-offset="800"
    class="txt text-primary">Student's</h1>

  <h2 data-aos="fade-right"
  data-aos-delay="50"
    data-aos-duration="2000"
    data-aos-easing="ease-in-out"
    data-aos-mirror="true"
    data-aos-once="false"
    data-aos-anchor-placement="top-center"
    data-aos-offset="800"
     class="txt text-secondary">Connecting Us</h2>
</div>

<section >
    <img 
    data-aos="flip-left"
    data-aos-delay="50"
    data-aos-duration="3000"
    data-aos-easing="ease-in-out"
    data-aos-mirror="false"
    data-aos-once="false"
    data-aos-anchor-placement="top"
    data-aos-offset="800"
    class="mt-5 img-fluid w-100" src="../../assets/images/assets/hero.jpg" alt="">
</section>



<!-- <router-outlet></router-outlet> -->