body,
html,
* {
    outline   : none !important;
    box-sizing: border-box !important;
}

span {
    cursor: pointer;
}

video {
    width: 100%;
    height: auto;
  }
.ava {
    padding      : 3px;
    border       : 1px solid #0e71c8;
    border-radius: 50%;
    min-width    : 50px;
}

p {
    padding    : 1vw;
    padding-top: 1.7vw;
}

body {
    font-size: 62.5%;
}

.example-full-width {
    width: 100%;
}

:host {
    width: 100%;
}

.post {
    width           : 70%;
    min-width       : 420px;
    padding         : 1em 3em;
    background-color: #fff;
    margin          : 0 auto;
    margin-bottom   : 3vw;
    border-radius   : 12px;
    box-shadow      : 1px 1px 4px #b5d6ec , -1px -1px 4px #b5d6ec;
}


.contact {
    font-size: 40px;
    color    : green;
    cursor   : pointer;
    margin   : 15px;
}

h4 {
    font-size: 2.5vw;
}

input {
    width        : 90%;
    border-radius: 2em;
    padding      : 0.3em 0.2em;
    margin-top   : 0.5em;
    max-height   : 50px;
    float        : left;
}

.mybtn {
    text-align     : center;
    padding        : 0.5em 1em;
    width          : 12%;
    height         : 7%;
    font-size      : 1vw;
    text-decoration: none;
    max-height     : 40px;
}

i {
    width: 10%;
    float: right;
}


.left {
    float      : right;
    margin-left: auto;
}
.tool-body {
    width : 100%;
    height: 40%;
    margin: auto;
}

.tool-body-text {
    background-color: #ecedee;
    border-radius: 5px;
    border-color:#e1e9f1;
    width : 100%;
}

.tool-text {
    background-color: #ecedee;
    border-color: #e1e9f1;
    border-radius: 5px;
    width : 100%;
    border: 0px;
    margin-bottom: 2px;
}

.fileList {
    width           : 95%;
    padding         : 1vw 3vw;
    background-color: white;
    margin          : 2em auto;
    display         : flex;
    margin-bottom   : 2vw;
    border-radius   : 12px;
    box-shadow      : 1px 1px 4px grey , -1px -1px 4px grey;
}

.file-img {
    float: left;
    width        : 10%;
    height       : 10%;
    border       : 1px solid grey;
    margin       : 1%;
    min-width    : 50px;
}


.example-full-width {
    margin-right: auto;
    margin-top: auto;
    margin-left: 5px;
    color: grey;
 }


 .btn-primary{
    border-radius: 12px;
    margin-left: 10px;}

.edit-field{
    width: 100%;}