<app-nav>
    <section id="header" class="d-flex align-items-center">

        <div class="container">
        <div class="row">
            <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
            <h2>Welcome to Qustions Section</h2>
            <h5>Ask a qustion<br> and you will be sure <br>to find an answer</h5>
            <div data-aos="fade-up" data-aos-delay="800">
                <button [routerLink]="['/questions']" class="btn btn-primary askbtn">Questions</button>
            </div>
            </div>

            <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="fade-left" data-aos-delay="200">
            <img src="assets/images/questions.png" class="img-fluid animated" alt="">
            </div>
        </div>
        </div>
    </section>
</app-nav>